@charset "utf-8";


html {
    color: #333;
    background: #fafafa !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
}




html.borderbox *, html.borderbox *:before, html.borderbox *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
}
.outbox{margin:0 auto;text-align: center;width:100%}
.table{margin: 0 auto; }
.is-border{font-weight: bold}
.is-red{color: darkred}
.is-green{color:green}
.is-gray{color:gray}
.text-left{text-align: left}
.active{ color:green;font-weight: bold}
.unactive{color: darkred;font-weight: bold}
.button.is-btn{width:20px!important;font-size:.85rem!important;padding: 0!important;}